.DS_Store
DOCUMENTS_OFFLINE/
H/
Paintings/
Kala/Middle-Room/
Kala/Anant-Noisy-Kid/.git/
Kala/Anant-Noisy-Kid/outs/
bg-boids-dark.png
bg-boids-dark-2.png
hello-world/Cool-Reddit-p5.mp4
download (1).png
