.DS_Store
._*
DOCUMENTS_OFFLINE/
H/
Paintings/
Kala/Middle-Room/
Kala/Anant-Noisy-Kid/.git/
Kala/Anant-Noisy-Kid/.git_backup/
Kala/Anant-Noisy-Kid/outs/
bg-boids-dark.png
bg-boids-dark-2.png
hello-world/Cool-Reddit-p5.mp4
download (1).png

# Personal documents in media/
media/*.pdf
media/*.docx
media/*.HEIC
media/*.MOV
media/*.zip
media/download*
media/bg-boids-dark.png
media/bg-boids-dark-2.png
media/index.html
media/portfolio.html
